.past-event {
    color: gray;
    text-decoration: line-through;
}

.profile-img {
    overflow: hidden;
    height: 18em;
    width: 18em;
    border-radius: 50%;
}

.profile-img img {
    width: 100% !important;
}